{% extends "base.html" %}

{% block cart_link %}
{% endblock cart_link %}

{% block main_block %}
	<h2>Cart</h2>
	<table>
		<thead>
			<tr>
				<th>Title</th>
				<th>Quantity</th>
				<th>Procut price</th>
				<th>Discounted price</th>
				<th>Save</th>
				<th><th>
			</tr>
		</thead>
		<tbody>
		{% for cart_item in object.items.all %}
		{% cycle '' 'even' as rowcolors silent %}
		<tr class="{{rowcolors}}">
			<td>{{ cart_item.product.name }}</td>
			<td>{{ cart_item.quantity }}</td>
			<td>
				{{ cart_item.product_price|floatformat:3 }}$
			</td>
			<td>
				{{ cart_item.discounted_price|floatformat:3 }}$
			</td>
			<td>
				{{ cart_item.saved_ammount }}$
			</td>
			<td><a href="{% url cart:edit cart_item.id %}">Edit</a></td>
			<td><a href="{% url cart:delete cart_item.id %}">Delete</a></td>
		</tr>
		{% endfor %}
		<tr>
			<td>Total:</td>
			<td>{{ object.get_quantity }}</td>
			<td>{{ object.get_items_price }}$</td>
			<td>{{ object.get_items_discount_price }}$</td>
			<td>{{ object.saved }}$</td>
			<td colspan="2"></td>
		</tr>
		</tbody>
	</table>
	
	{% if object.items.exists %}
		<form method='POST'>{% csrf_token %}
			{{ cart_discount_form }}
			<input type='submit' value='apply'>
		</form>
		<div><a href="/payment">Checkout</a></div>
	{% endif %}
{% endblock %}